@model IEnumerable<Spice.DomainModel.MenuItem>
    @{ ViewBag.Title = "Index";
       Layout = "~/Views/Shared/_Layout.cshtml"; }

    <br />
    <br />
    


    <td>
        @Html.ActionLink("Create Now", "create")

    </td>
    <div class="border backgroundWhite">

        <br />
        <div>
            @if (Model.Count() > 0)
            {
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(m => m.Image)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Spicyness)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.SubCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        
        <td><img src="data:image;base64,@item.Image" width="50" /></td>
        
        <td>
            @Html.DisplayFor(m => item.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Description)
        </td>
        <td>
            @Html.DisplayFor(m => item.Spicyness)
        </td>
        <td>
            @Html.DisplayFor(m => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.SubCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Price)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, Controller = "MenuItem" }, new { @class = "btn btn-primary" })

        </td>*@
        @*<td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

        </td>*@
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id, Controller = "MenuItem" }, new { @class = "btn btn-primary" })
        </td>
    </tr>                }
    </table> }
                else
                {
    <p>No menu item exists...</p>}
        </div>
    </div>
