@model Spice.DomainModel.MenuItem
@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Details</h2>
<table class="table">
    <tr>
        <td><img src="data:image;base64,@Model.Image" width="100" /></td>
    </tr>
    <tr>
        <td>Item Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Spicyness</td>
        <td>@Model.Spicyness</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Model.Category.Name</td>
    </tr>
    <tr>
        <td>SubCategory</td>
        <td>@Model.SubCategory.Name</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.Price</td>
    </tr>
</table>